<!-- [ Main Content ] start -->


<style>
    
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>


<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">

            <!-- [ breadcrumb ] start -->

            <div class="card">
              <div class="card-body">
                <h5>Edit Products</h5>

                <div class="row">

                  <div class="col-md-6">
                    <form
                      action="/admin/edit-products/{{product._id}}"
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label>Product Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          value="{{product.name}}"
                        />
                      </div>


                <div class="dropdown">
                  <button class="btn border btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CATEGORY
                  </button>
                  {{#each category}}
                  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                      
                      <li class="dropdown-submenu">
                        <a  class="dropdown-item" tabindex="-1" >MENS</a>
                        <ul class="dropdown-menu">
                          {{#each ../mens}}
                          <li class="dropdown-item"><label >{{this.sub}}</label><input type="radio" name="category" value="{{this._id}}"  ></li>
                          {{/each}}
                          {{!-- <li class="dropdown-item"><a href="#">Second level</a></li>
                          <li class="dropdown-item"><a href="#">Second level</a></li> --}}
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a  class="dropdown-item" tabindex="-1" >WOMENS</a>
                        <ul class="dropdown-menu">
                          {{#each ../womens}}
                          <li class="dropdown-item"><label >{{this.sub}}</label><input type="radio" name="category" value="{{this._id}}"  ></li>
                          {{/each}}
                          {{!-- <li class="dropdown-item"><a href="#">Second level</a></li>
                          <li class="dropdown-item"><a href="#">Second level</a></li> --}}
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a  class="dropdown-item" tabindex="-1" >KIDS</a>
                        <ul class="dropdown-menu">
                          {{#each ../kids}}
                          <li class="dropdown-item"><label >{{this.sub}}</label><input type="radio" name="category" value="{{this._id}}"  ></li>
                          {{/each}}
                          {{!-- <li class="dropdown-item"><a href="#">Second level</a></li> --}}
                        </ul>
                      </li>
                    </ul>
                    {{/each}}
              
              </div>

                      
                      
                      {{!-- <div class="form-group">
                          <label for="exampleFormControlSelect1">Brand</label>
                          <select class="form-control" name="brand" id="exampleFormControlSelect1">
                            <option>ADIDAS</option>
                            <option>NIKE</option>
                            <option>COVERSE</option>
                            <option>VANS</option>
                            <option>PUMA</option>
                          </select>
                        </div>  --}}

                      <div class="form-group">
                        <label
                          for="exampleFormControlTextarea1"
                        >Description</label>
                        <textarea
                          class="form-control"
                          name="description"
                          id="exampleFormControlTextarea1"
                          rows="3"
                        >{{product.description}}</textarea>
                      </div>

                      <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="form-control" name="quantity" value="{{product.quantity}}" />
                      </div>

                      <div class="form-group">
                        <label>Price</label>
                        <input
                          type="tel"
                          class="form-control"
                          name="price"
                          value="{{product.price}}"
                        />
                      </div>
                     <div class="form-group">
                        <label>Image Upload</label>
                        <input
                          type="file"
                          class="form-control"
                          name="image"
                          multiple="required"
                          onchange="viewImage(event)"
                        />
                        <div class="d-flex">
                          {{#each product.image}}
                            <img  src="{{this}}" alt=""  style="width: 60px;" class="p-2" id="imgView"/>
                          {{/each}}
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" >Submit</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>

            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->


<script>

let viewImage = (event) =>{
  for(let i=0; i < files.length; i++){
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[i]); 
  }
}

</script>