<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->

<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">

            <!-- [ breadcrumb ] start -->

            <div class="card">
              <div class="card-body">
                <h4 class="float-left">Products List</h4>

                <a href="/admin/add-products" class="btn btn-success float-right mb-3">Add Products</a>
                <div >
                  <hr class="mt-5">

                  <div class="table-responsive">
                    <table class="table table-striped" id="productTable" style="width: 100%;">
                      <thead>
                        <tr>
                          
                          <th scope="col">name</th>
                          <th scope="col">Category</th>
                          <th scope="col">Sub Category</th>
                          <th scope="col">price</th>
                          <th scope="col">quantity</th>
                          <th scope="col">discount</th>
                          <th scope="col">images</th>
                          <th scope="col">Update</th>
                          <th scope="col">status</th>
                        </tr>
                      </thead>
                      <tbody>

                        {{#each products}}
                          <tr>
                            {{!-- <th scope="row">{{this._id}}</th> --}}
                            <td>{{this.name}}</td>
                            <td>{{this.proDetails.main}}</td>
                            <td>{{this.proDetails.sub}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.discount}}</td>
                            <td>
                              <img src="{{this.image.[0]}}" alt="" style="width: 55px;"/>
                            </td>
                            <td><a href="/admin/edit-products/{{this.url}}" class="btn btn-primary ">EDIT</a></td>
                            {{#if this.listed}}
                              <td><a
                                  href="/admin/unlist/{{this._id}}"
                                  class="btn btn-danger "
                                >DELETE</a></td>
                            {{else}}
                              <td><a href="/admin/listed/{{this._id}}" class="btn btn-secondary " >DELETED</a></td>
                              {{!-- <td><a href="" class="btn btn-secondary btn-sm" >DELETED</a></td> --}}
                            {{/if}}
                          </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>

            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->