

{{!-- <link rel="stylesheet" href="/public/assets/profile_styles/#style.css"> --}}

<style>
label.error {
  color: rgb(219, 35, 35);
}
</style>

<div class="container mt-4 border py-3 " style="background-color: #e7e8eb;">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body" >
		<div class="account-settings" style="text-align: center;">
			<div class="user-profile ">
				<div class="user-avatar">
					{{#if user.profile}}
					<img src="{{user.profile}}" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{else}}
					<img src="https://www.seekpng.com/png/detail/72-729756_how-to-add-a-new-user-to-your.png" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{/if}}
					<div class="text-center">
						 <h6 class="user-name pt-2 ">{{user.Username}}</h6>
				   		 {{!-- <h7 class="user-email">{{user.email}}</h7> --}}
					</div>
				</div>
				
			</div>

			<hr>

			<div class="about">
				<h6 class="text-secondary">ACCOUNT SETTINGS</h6>				
			</div>
			

			<a href="/profile" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2">Personal Informations</h4>
            </div>
            </a>

            <a href="/address" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2 ">Manage Address</h4>
            </div>
            </a>

			<hr>

			<div class="about">
				<h6 class="text-secondary">MY STUFFS</h6>				
			</div>

			 <a href="/my-orders" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">My Orders</h4>
            </div>
            </a>
            
            <a href="/wishList" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">Wishlist</h4>
            </div>
            </a>

            <a href="/cart-products" style="text-decoration: none;">
            <div class="border mt-1 text-info">
                <h4 class=" pt-2 ">Cart items</h4>
            </div>
            </a>     

		</div>
	</div>
    <a href="" style="text-decoration: none; margin-top: 30px;">
        <p class="text-primary text-center mb-2"> Change Password</p>
    </a>

    <a href="/logout" style="text-decoration: none;">
        <div class="border bottom-align-text text-center">
            <h3 class="pt-1 text-secondary ">Logout</h3>
        </div>
     </a>


</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

<div class="card h-100 ">
	<div class="card-body container">
        <div class="card-body">
		
		<form action="/new-password/{{user._id}}" id="formValidate" method="post" >

		<div class="row gutters col-md-6 ">
			
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2  text-center">
				<h5 class="mb-3 ">Change Password</h5>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				<div class="form-group">
					<label for="">New Password</label>
					<input type="text" class="form-control" id="password1" name="password1" >
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				<div class="form-group">
					<label for="">Confirm Password</label>
					<input type="password" class="form-control" id="password2" name="password2" >
				</div>
			</div>
						
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				
			<div class="text-right mt-1">
								
				<button type="submit" id="submit" class="btn-primary py-2 pl-4 pr-4 ">Submit</button>
			</div>
			</div>
			

		</div>
        </form>


				
	</div>      		
	</div>
	
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	jQuery('#formValidate').validate({
    rules:{
        password1: {
            required : true,
            minlength : 8
            
        },
        password2: {
            required : true,
            equalTo : '#password1'

        }
    },
    messages:{
        password1: {
            required : '* Please enter your new Password',
            //minlength : '* Enter atleast 8 characters',
        },
        password2: {
            required : '* Please repeat that Password',
            equalTo : '* Password not Matching ...'
        }
    }
})

</script>

<script src="/javascripts/validations.js"></script>
