
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<div class="template-collection belle">
<div id="pre-loader">
    <img src="/assets/images/loader.gif" alt="Loading..." />
</div>

<div class="pageWrapper">
	
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Collection Banner-->
    	<div class="collection-header">
			<div class="collection-hero">
        		<div class="collection-hero__image"><img class="blur-up lazyload" data-src="/assets/images/shop-page-banner.png" src="/assets/images/shop-page-banner.png" alt="Women" title="Women" /></div>
        		<div class="collection-hero__title-wrapper"><h5 class="collection-hero__title page-width"><b> EXPLORE WITH OUR UNIQUE STEPS</b></h5></div>
      		</div>
		</div>
        <!--End Collection Banner-->
        
        <div class="container">
        	<div class="row">
            	<!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar  filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                	<div class="sidebar_tags">

                    	<!--Categories-->
                    	

                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="row mb-4" >
                                {{!-- <h4></h4> --}}
                                <div class="col-6">
                                    <a href="/shop/low-to-high"><button class="btn-block">LOW TO HIGH</button></a>
                                </div>
                                <div class="col-6">
                                    <a href="/shop/high-to-low"><button class="btn-block">HIGH TO LOW</button></a>
                                </div>
                            </div>
                                

                            <div class="widget-title"><h2>Categories</h2></div>
                            <ul class="sidebar_categories ml-2">

                                {{#each category}} 
                                {{!-- <li class="lvl-1"><a href="/category-filter/{{this._id}}" class="site-nav">{{this.sub}}</a></li> --}}
                                {{!-- <li class="lvl-1"><a  onclick="subCategory('{{this._id}}','{{this.main}}')" class="site-nav">{{this.sub}}</a></li> --}}
                                <li class="lvl-1"><a href="/shop/{{this._id}}"   class="site-nav">{{this.sub}}</a></li>
                                {{/each}}
                                
                            </ul>
                        </div>

                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                            	<h2>Price</h2>
                            </div>
                            {{!-- <form action="#" method="post" class="price-filter"> --}}
                            <div class="price-filter">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                	<div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <p class="d-flex"><input id="amount1" type="text" value="50" > 
                                        <input id="amount2" type="text" value="5000"  data-category="{{sessionCategory}}"></p>
                                        <input id="category" type="text" value="{{sessionCategory}}" hidden>
                                        
                                    </div>
                                    <div class="col-6 text-right margin-25px-top">
                                        <button onclick="slideFilter()" class="btn btn-secondary btn--small">filter</button>
                                    </div>
                                </div>
                             </div>
                            {{!-- </form> --}}
                        </div>
                        
                        
                        <!--Brand-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title"><h2>Brands</h2></div>
                            <ul>
                                <li>
                                  <input type="checkbox" value="allen-vela" id="check1">
                                  <label for="check1"><span><span></span></span>NIKE</label>
                                </li>
                                <li>
                                  <input type="checkbox" value="oxymat" id="check3">
                                  <label for="check3"><span><span></span></span>ADIDAS</label>
                                </li>
                                <li>
                                  <input type="checkbox" value="vanelas" id="check4">
                                  <label for="check4"><span><span></span></span>VANS</label>
                                </li>
                                <li>
                                  <input type="checkbox" value="pagini" id="check5">
                                  <label for="check5"><span><span></span></span>PUMA</label>
                                </li>
                                
                            </ul>
                        </div>

                        
                        <!--End Brand-->
                       
                        <!--Banner-->
                        <div class="sidebar_widget static-banner">
                        	<img src="https://i.pinimg.com/originals/63/0b/e3/630be321776c125343dc33fd78011789.jpg" alt="" />
                        </div>
                        
                        <!--end Product Tags-->
                    </div>
                </div>
                <!--End Sidebar-->
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                	
                    {{!-- <hr> --}}
                	<div class="productList">
                    	<!--Toolbar-->
                        <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    	{{!-- <div class="toolbar">
                        	<div class="filters-toolbar-wrapper">
                            	<div class="row">
                                	<div class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                                    	<a href="shop-left-sidebar.html" title="Grid View" class="change-view change-view--active">
                                        	<img src="/assets/images/grid.jpg" alt="Grid" />
                                        </a>
                                        <a href="shop-listview.html" title="List View" class="change-view">
                                        	<img src="/assets/images/list.jpg" alt="List" />
                                        </a>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    	<span class="filters-toolbar__product-count">Showing: 22</span>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4 text-right">
                                    	<div class="filters-toolbar__item">
                                      		<label for="SortBy" class="hidden">Sort</label>
                                      		<select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                                                <option value="title-ascending" selected="selected">Sort</option>
                                                <option>Best Selling</option>
                                                <option>Alphabetically, A-Z</option>
                                                <option>Alphabetically, Z-A</option>
                                                <option>Price, low to high</option>
                                                <option>Price, high to low</option>
                                                <option>Date, new to old</option>
                                                <option>Date, old to new</option>
                                      		</select>
                                      		<input class="collection-header__default-sort" type="hidden" value="manual">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> --}}
                        <!--End Toolbar-->
                        <div class="grid-products grid--view-items">
                            <div class="row">

                                

                                 {{#each products}}
                                 {{#if this.listed}}
                                 {{#if (isEqual this.quantity 0)}}
                                 
                                 <div class="col-6 col-sm-6 col-md-4 col-lg-4 item grid-view-item--sold-out ">
                                    <!-- start product image -->
                                    <div class="border">
                                    <div class="product-image border">
                                        <!-- start product image -->
                                            <a href="/product-details/{{this.url}}">
                                            <!-- image --> 
                                            <img class="grid-view-item__image  lazyload" src="{{this.image.[0]}}"  alt="image" title="product" /> 

                                            <span class="sold-out"><span class="py-1 text-danger h4 border border-danger ">out of stock</span></span>

                                            </a>
                                            <!-- product label -->
                                            {{#if this.offer}}
                                            <div class="product-labels"><span class="lbl pr-label3">- {{this.offer}}% </span></div>
                                            {{/if}}
                                            <!-- End product label -->
                                        
                                        <!-- end product image -->

                                        <!-- Start product button -->
                                        {{!-- <span class="variants add" >
                                            <button class="btn" onclick="addToCart('{{this._id}}')" >Add to cart</button>
                                        </span> --}}
                                        {{#if ../user}}
                                        <div class="button-set" >
                                            <div class="wishlist-btn" >
                                                <a class="wishlist add-to-wishlist"  onclick="WishList('{{this._id}}','{{../user._id}}')" title="Add to Wishlist">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                        </div>
                                        {{/if}}
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    
                                    <!--start product details -->
                                    <div class="product-details text-center ">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a >{{this.name}}</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        {{#if this.offer}}
                                            <div class="product-price pb-2">
                                                <span class="old-price">{{this.price}}</span>
                                                <span class="price">{{this.total}}</span>
                                            </div>
                                        {{else}}

                                        <div class="product-price pb-2">
                                            <span class="price"> {{this.price}}</span>
                                        </div>
                                        {{/if}}
                                        <!-- End product price -->
                                        
                                        
                                    </div>
                                  

                                    </div>
                                    <!-- End product details -->
                                 </div>


                                 {{else}}
                                 
                                 <div class="col-6 col-sm-6 col-md-4 col-lg-4 item ">
                                    <!-- start product image -->
                                    <div class="border">
                                    <div class="product-image border">
                                        <!-- start product image -->
                                            <a href="/product-details/{{this.url}}">
                                            <!-- image --> 
                                            <img class="lazyload" src="{{this.image.[0]}}"  alt="image" title="product" />
                                            <!-- End image -->
                                            </a>
                                            <!-- product label -->
                                            {{#if this.offer}}
                                            <div class="product-labels"><span class="lbl pr-label3">- {{this.offer}}% </span></div>
                                            {{/if}}
                                            <!-- End product label -->
                                        
                                        <!-- end product image -->

                                        <!-- Start product button -->
                                        <span class="variants add" >
                                            <button class="btn" onclick="addToCart('{{this._id}}')" >Add to cart</button>
                                        </span>
                                        {{#if ../user}}
                                        <div class="button-set" >
                                            <div class="wishlist-btn" >
                                                <a class="wishlist add-to-wishlist"  onclick="WishList('{{this._id}}','{{../user._id}}')" title="Add to Wishlist">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                        </div>
                                        {{/if}}
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    
                                    <!--start product details -->
                                    <div class="product-details text-center ">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a >{{this.name}}</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        {{#if this.offer}}
                                        <div class="product-price pb-2">
                                            <span class="old-price">{{this.price}}</span>
                                            <span class="price">{{this.total}}</span>
                                        </div>
                                        {{else}}
                                       

                                         <div class="product-price pb-2">
                                            <span class="price"> {{this.price}}</span>
                                        </div>
                                        {{/if}}
                                        <!-- End product price -->
                                        
                                        
                                    </div>
                                  

                                    </div>
                                    <!-- End product details -->
                                 </div>
                                
                                {{/if}}
                                {{/if}}
                                {{/each}}

                            </div>
                        </div>
                    </div>
                    <hr class="clear">
                    <div class="pagination">
                      <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="next"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
    
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
    <!--Quick View popup-->
    
    
    </div>
</div>



<script>
    function slideFilter() {
        let amount1 = document.querySelector("#amount1").value;
        let amount2 = document.querySelector("#amount2").value;
        let category = document.querySelector("#category").value;

        //location.assign(`/shop/?low=${amount1}&high=${amount2}`)

        console.log(amount1, amount2);

        axios({
            url: `/shop/filter`,
            method: 'post',
            data: {
                low: amount1,
                high: amount2,
                category: category
            }
        })
        .then((response)=>{
            console.log(response);
            var category = document.querySelector("#amount2").dataset.category
            console.log(category)
            location.href = `/shop/${category}`
        })
        .catch((err)=>{
            console.log(err);
        })
    }
</script>



