
{{!-- <link rel="stylesheet" href="/public/assets/profile_styles/#style.css"> --}}

  

<div class="template-collection belle">
<div id="pre-loader">
    <img src="/assets/images/loader.gif" alt="Loading..." />
</div>

<div class="pageWrapper">
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div>


<div class="container mt-4 border py-3 " style="background-color: #e7e8eb;">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body" >
		<div class="account-settings" style="text-align: center;">
			<div class="user-profile ">
				<div class="user-avatar">

					{{#if user.profile}}
					<img src="{{user.profile}}" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{else}}
					<img src="https://www.seekpng.com/png/detail/72-729756_how-to-add-a-new-user-to-your.png" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{/if}}
					<div class="text-center mt-2">
						 <h6 class="user-name  ">{{user.Username}}</h6>
				   		 {{!-- <h7 class="user-email">{{user.email}}</h7> --}}
					</div>
					
				</div>
				
			</div>

			<hr>

			<div class="about">
				<h6 class="text-secondary">ACCOUNT SETTINGS</h6>				
			</div>
			

			<a href="/profile" style="text-decoration: none;">
            <div class="border mt-2 bg-light">
                <h4 class="pt-2">Personal Informations</h4>
            </div>
            </a>

            <a href="/address" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2 ">Manage Address</h4>
            </div>
            </a>

			<hr>

			<div class="about">
				<h6 class="text-secondary">MY STUFFS</h6>				
			</div>

			 <a href="/my-orders" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">My Orders</h4>
            </div>
            </a>
            
            <a href="/wishList" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">Wishlist</h4>
            </div>
            </a>

            <a href="/cart-products" style="text-decoration: none;">
            <div class="border mt-1 text-info">
                <h4 class=" pt-2 ">Cart items</h4>
            </div>
            </a>     

		</div>
	</div>
    <a href="/change-password" style="text-decoration: none; margin-top: 30px;">
        <p class="text-primary text-center mb-2"> Change Password</p>
    </a>

    <a href="/logout" style="text-decoration: none;">
        <div class="border bottom-align-text text-center ">
            <h3 class="pt-2 text-secondary ">Logout</h3>
        </div>
     </a>


</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		
		<form action="/personal-datas/{{user._id}}" method="post" >
		<div class="row gutters col-md-6 ">

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
				<h6 class="mb-2 text-primary">Personal Details</h6>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input type="text" class="form-control" id="fullName" name="Username" value="{{user.Username}}">
				</div>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="form-group">
					<label for="eMail">Email</label>
					<input type="email" class="form-control" id="eMail" name="email" value="{{user.email}}">
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" id="phone" name="mobile" value="{{user.mobile}}">
				</div>
			</div>
				
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				

				<div class="form-group">
                  <label for="website">Gender</label>
                  <select class="form-control" name="gender" id="exampleFormControlSelect1">
                    {{!-- <option>None</option> --}}
					
                    <option>{{user.gender}}</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>

			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right mt-3">
					<a href="/" class="text-decoration-none">
					
					<button type="button"  name="cancel" class="bg-secondary text-white p-2">Cancel</button>
					</a>
					<button type="submit" onclick="addressUpdate()" id="submit" class="btn-primary p-2">Update</button>
				</div>
			</div>
			

		</div>
		</div>
	</form>
</div>
</div>
</div>
</div>
</div>
</div>



