
{{!-- <link rel="stylesheet" href="/public/assets/profile_styles/#style.css"> --}}

  <style>
        .page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin: 0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input {
	width: 4em;
	padding: 0.5em 1em;
}

.btn {
	background: white;
	color: black;
	border: 1px solid black;
	padding: 0.5em 1em;
	text-decoration: none;
	margin: 0.8em 0.3em;
	display: inline-block;
	cursor: pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}
    </style>

<div class="template-collection belle">
<div id="pre-loader">
    <img src="/assets/images/loader.gif" alt="Loading..." />
</div>

<div class="pageWrapper">
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div>


<div class="container mt-4 border py-3 " style="background-color: #e7e8eb;">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body" >
		<div class="account-settings" style="text-align: center;">
			<div class="user-profile pb-3">
				<div class="user-avatar">

					{{#if user.profile}}
					<img src="{{user.profile}}" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{else}}
					<img src="https://www.seekpng.com/png/detail/72-729756_how-to-add-a-new-user-to-your.png" alt="Maxwell Admin" width="80px" style="border-radius: 50px; ">
					{{/if}}
					
					<div class="text-center">



						{{!-- <label for="file-input" class="custom-file-upload">Upload File</label>
						<input type="file" id="file-input" style="display: none;" /> --}}




	



						 <h6 class="user-name pt-2 ">{{user.Username}}</h6>
				   		 <h7 class="user-email">{{user.email}}</h7>
					</div>
					
				</div>
				
			</div>

			<hr>

			<div class="about">
				<h6 class="text-secondary">ACCOUNT SETTINGS</h6>				
			</div>
			

			<a href="/profile" style="text-decoration: none;">
            <div class="border mt-2 bg-light">
                <h4 class="pt-2">Personal Informations</h4>
            </div>
            </a>

            <a href="/address" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2 ">Manage Address</h4>
            </div>
            </a>

			<hr>

			<div class="about">
				<h6 class="text-secondary">MY STUFFS</h6>				
			</div>

			 <a href="/my-orders" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">My Orders</h4>
            </div>
            </a>
            
            <a href="" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">Wishlist</h4>
            </div>
            </a>

            <a href="" style="text-decoration: none;">
            <div class="border mt-1 text-info">
                <h4 class=" pt-2 ">Cart items</h4>
            </div>
            </a>     

		</div>
	</div>
    <a href="/change-password" style="text-decoration: none; margin-top: 30px;">
        <p class="text-primary text-center mb-2"> Change Password</p>
    </a>

    <a href="/logout" style="text-decoration: none;">
        <div class="border bottom-align-text text-center ">
            <h3 class="pt-2 text-secondary ">Logout</h3>
        </div>
     </a>


</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		
		<form action="/personal-datas/{{user._id}}" method="post" >
		<div class="row gutters col-md-6 ">

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
				<h6 class="mb-2 text-primary">Personal Details</h6>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input type="text" class="form-control" id="fullName" name="Username" value="{{user.Username}}">
				</div>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="form-group">
					<label for="eMail">Email</label>
					<input type="email" class="form-control" id="eMail" name="email" value="{{user.email}}">
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" id="phone" name="mobile" value="{{user.mobile}}">
				</div>
			</div>
				
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				

				<div class="form-group">
                  <label for="website">Gender</label>
                  <select class="form-control" name="gender" id="exampleFormControlSelect1">
                    {{!-- <option>None</option> --}}
					
                    <option>{{user.gender}}</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>

			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right mt-3">
					<a href="/" class="text-decoration-none">
					
					<button type="button"  name="cancel" class="bg-secondary text-white p-2">Cancel</button>
					</a>
					<button type="submit" id="submit" class="btn-primary p-2">Update</button>
				</div>
			</div>
			

		</div>


		
		
	</div>
	</form>
</div>
</div>
<main class="page">
        <h2>Upload ,Crop and save.</h2>
        <!-- input file -->
        <div class="box">
            <input type="file" id="file-input">
        </div>
        <!-- leftbox -->
        <div class="box-2">
            <div class="result"></div>
        </div>
        <!--rightbox-->
        <div class="box-2 img-result hide">
            <!-- result of crop -->
            <img class="cropped" src="" alt="">
        </div>
        <!-- input file -->
        <div class="box">
            <div class="options hide">
                <label> Width</label>
                <input type="number" class="img-w" value="300" min="100" max="1200" />
            </div>
            <!-- save btn -->
            <button class="btn save hide">Save</button>
            <!-- download btn -->
            <a href="" class="btn download hide">Download</a>
        </div>
     </main>


</div>
</div>
</div>
</div>



<script>
 // vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#file-input'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', (e) => {
  if (e.target.files.length) {
		// start file reader
    const reader = new FileReader();
    reader.onload = (e)=> {
      if(e.target.result){
				// create new image
				let img = document.createElement('img');
				img.id = 'image';
				img.src = e.target.result
				// clean result before
				result.innerHTML = '';
				// append new image
        result.appendChild(img);
				// show save btn and options
				save.classList.remove('hide');
				options.classList.remove('hide');
				// init cropper
				cropper = new Cropper(img);
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
});

// save on click
save.addEventListener('click',(e)=>{
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
		width: img_w.value // input value
	}).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
	img_result.classList.remove('hide');
	// show image cropped
  cropped.src = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href',imgSrc);
});


</script>

