<!DOCTYPE html>
<html>
  <head>
    <title>SHOEZI.ONLINE</title>
    {{!-- <link rel="stylesheet" href="/assets/css/errorPage.css"> --}}
    <style>
      label.error {
        color: rgb(210, 67, 67);
        font-size: 12px;
      }
    </style>

    {{#if admin}}
     {{!-- Admin Side Template --}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Flash Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, Flash Able, Flash Able bootstrap admin template">
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="/admin-assets/images/tab-logo.jpg" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/admin-assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/admin-assets/plugins/animation/css/animate.min.css">
    <!-- morris css -->
    <link rel="stylesheet" href="/admin-assets/plugins/chart-morris/css/morris.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/admin-assets/css/style.css">

    {{!-- Data tables links admin side --}}
    
    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    
    
    {{!-- Axios cndn link  --}}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    {{!-- Swal sweet alert --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

    {{else}}

    {{!-- Swal sweet alert --}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{!-- Swal sweet alert 2 --}}

    <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">

    {{!-- UserSide Template --}}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/images/tab-logo.jpg"/>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    {{!-- Axios cndn link  --}}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    

     <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>

     {{!-- jQuery formValidate --}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      

     <style>
      .colored-toast.swal2-icon-success {
        background-color: #a0dc7d !important;
        color:#fff;
      }
      .colored-toast.swal2-icon-error {
        background-color: #f17676 !important;
        color:#fff;
      }
      .colored-toast.swal2-icon-primary {
        background-color: #52338c !important;
        color:#fff;
      }
     </style>

    {{/if}}
  
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
  </head>
  <body>

    {{#if admin}}
    {{>admin-header}}
    
    {{{body}}}
  
    {{else}}
    {{#if success}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}
    {{#if loginForm}}
    {{else}}
    {{>user-footer}}
    {{/if}}
    {{/if}}




    {{#if admin}}
    {{!-- AdminSide Template --}}
    
    
    <!-- Required Js -->
    <script src="/admin-assets/js/vendor-all.min.js"></script>
    <script src="/admin-assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin-assets/js/pcoded.min.js"></script>
    <!-- chart-morris Js -->
    <script src="/admin-assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/admin-assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/admin-assets/js/pages/chart-morris-custom.js"></script>



    <script src="/javascripts/script.js"></script>
    {{!-- <script src="/javascripts/cart-script.js"></script> --}}

    

  {{!-- dataTable --}}
    
    <!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>






    <script>
      $(document).ready(function () {
        $('#userTable').DataTable();
      });
      $(document).ready(function () {
        $('#productTable').DataTable();
      });
      $(document).ready(function () {
        $('#couponTable').DataTable();
      });
      $(document).ready(function () {
        $('#bannerTable').DataTable();
      });
      $(document).ready(function () {
        $('#categoryTable').DataTable();
      });
      $(document).ready(function () {
        $('#salesTable').DataTable();
      });
      $(document).ready(function () {
        $('#orderTable').DataTable();
      });
      // $(document).ready(function () {
      //   $('#salesTable').DataTable();
      // });

      $('#salesTable').DataTable( {
    buttons: [
        {
            extend: 'pdf',
            text: 'Save current page',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        }
    ]
} );
    </script>
    

   
    
    {{else}}

    {{!-- UserSide Template --}}

     <!-- Including Jquery -->
     <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="/assets/js/vendor/jquery.cookie.js"></script>
     <script src="/assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="/assets/js/bootstrap.min.js"></script>
     <script src="/assets/js/plugins.js"></script>
     <script src="/assets/js/popper.min.js"></script>
     <script src="/assets/js/lazysizes.js"></script>
     <script src="/assets/js/main.js"></script>

     <!--For Cart ajax script -->
     {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
      
      

      <script src="/javascripts/script.js"></script>
      <script src="/javascripts/math-helpers.js"></script>
      <script src="/javascripts/validations.js"></script>
      <script src="/javascripts/verify-otp.js"></script>

      {{!-- Toastify alert --}}


    {{/if}}
   

    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> --}}
  </body>
</html>